* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-top: 60px;
    height: 500px;
    
    
    
}

.box {
    background-color: white;
    height: 400px;
    width: 300px;
    margin-top: 50PX;
    margin-left: 30px;
    position: relative;
}

img {
    width: 480px;
    height: 350px;
    position: absolute;
    bottom: 122px;
    left: 180px;
}
button {
    background-color: black;
    color: white;
    border-radius:10px;
    padding: 5px 5px;
    border: 1px solid black;
}
h3 {
    font-weight: 700;
}
.xyz {
    padding-top: 180px;
    padding-right: 100px;
}
@media only screen and (max-width:500px) {
    .container {
        width: 300px;
    }
}